 @import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
/*
body {
    background-color: #448AFF;
    font-size: .9375rem;
    overflow-x: hidden;
    color: #333;
    font-family: "Open Sans", sans-serif;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7) 240px, #f2f7fb 0%)
}
*/
 body {
	font-family: 'Roboto Mono', monospace;
	background-color: rgb(68,138,255,0.4);
	font-size: .9375rem;
	overflow-x: hidden;
	color: #333;
 }
 
.page-content-wrap {
    top: 90px;
    position: relative;
}

.display1 {
	top: 90px;
} 

.display2 {
	top: 75px;
}

.aside_ {
	width: 150px;
}

.navbar2 {
	position: fixed;
}

.mp-close-hide {
	position: absolute;
	top: 50px;
	border: none;
	z-index: 2000;
	right: -50px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: rgba(52, 73, 94, 0.9);
	color: #fff;
}

.mp-close-show {
	right: 50px !important;
}

@media (max-width: 992px) { 
	.submenu-mobile {
		top: 155px;	
	}
}

@media (max-width: 767px) {    	
	.content_ {
		padding-bottom: 1rem!important;
		padding-top: 1rem!important;	
		margin: 50px 0 50px 0;    
	}
	
	.aside_ {
		width: 100%;
	}
	
	.navbar2 {
		z-index: 1000;
	    width: 100%;
		top: 75px;
	}
	
	.submenu-mobile2 {
		top: 140px;	
	}
} 

ul .nav-item {
  list-style:none;
  margin: 0 15px;
}

@media (min-width: 768px) {    	
	ul .nav-item a, ul .nav-item .menu-button {
		margin: 20px 0 20px 30px;
	}	
	
} 

ul .nav-item a, ul .nav-item .menu-button {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;   
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  font-size: 30px;
  color: #fff;
  transition: .5s;
}

ul .nav-item a:before {
  content: '';
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  border-radius:50%;
  background-color: rgba(52, 73, 94, 0.7);
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

ul .nav-item a:hover:before {
  transform: scale(1.2);
  box-shadow: 0 0 15px rgba(52, 73, 94, 0.7);
  filter: blur(3px);
}

ul .nav-item a:hover {
  color: #ffa502;
  box-shadow: 0 0 15px rgba(52, 73, 94, 0.7);
  text-shadow: 0 0 15px rgba(52, 73, 94, 0.7);
}

.menu-button {
	/*
    display: inline-block;
    cursor: pointer;
    position: fixed;
    left: 20px;
    top: 90px;
    */
    z-index: 2050;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    padding: 0;
    background: #fff;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.24);
    line-height: 0.6;
    text-align: center;
}


.menu-button > span {
    display: inline-block;
    position: relative;
    height: 2px;
    width: 34px;
    border-radius: 1px;
    background: #293335;
    vertical-align: middle;
}

.menu-button > span:before, .menu-button > span:after {
    display: inline-block;
    position: absolute;
    content: "";
    height: 2px;
    border-radius: 1px;
    background: #293335;
    transition: all 200ms;
}

.menu-button > span:before {
    top: -11px;
    left: 3px;
    width: 28px;
}

.menu-button > span:after {
    top: 11px;
    left: 6px;
    width: 22px;
}

.menu-button:focus {
    outline: none;
}

.menu-button:hover > span:after, .menu-button:hover > span:before {
    width: 34px;
    left: 0;
}

.menu.active .nav:before {
    visibility: visible;
    clip-path: circle(100%);
}

.menu.active .menu-button > span {
    height: 0;
}

.menu.active .menu-button > span:after, .menu.active .menu-button > span:before {
    top: 0px;
    left: 0;
    width: 34px;
}

.menu.active .menu-button > span:after {
    transform: rotate(-45deg);
}

.menu.active .menu-button > span:before {
    transform: rotate(45deg);
}


 button:focus {
     box-shadow: none !important;
     outline-width: 0
 }

 .btn-success {
     border-radius: 20px !important;
     background-color: #9BEAC0 !important
 }

 .btn-success:hover {
     background-color: #9BEAC0 !important
 }

 .card-1 {
     color: #A4EAC0 !important
 }

 .cross {
     cursor: pointer;
     width: 45px !important
 }
 
/*
 .modal {
     background: linear-gradient(#03a9f4, #e91ee3) !important
 }
 */

 .modal-content {
     background: transparent !important
 }
 
 /**************************************************************************************************************************************/
 /* menu principal*/
 
a {
	color: inherit;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

a:hover, a:focus {
	color: #ababab;
	text-decoration: none;
	outline: 0 none;
}


@media (max-width: 767px) {
    .hex > .col-lg-8 {
	    flex: 10 0 66.666667%;
    	width: 66.666667%;
    	max-width: none;
	}
	
	.hexagon-menu {
		height: 700px;
	}
} 

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hex > .col-lg-8 {
        flex: 10 0 186.666667%;
	    max-width: none;
	    margin-left: -150px;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .hex > .col-lg-8 {
	    flex: 10 0 66.666667%;
    	max-width: none;
	}
}

.hexagon-item:first-child {
	margin-left: 0;
}

.hexagon-item {
	cursor: pointer;
	width: 200px;
	height: 173.20508px;
	float: left;
	margin-left: -31px;
	z-index: 0;
	position: relative;
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-o-transform: rotate(30deg);
	transform: rotate(30deg);
}

.hexagon-item:first-child {
	margin-left: 0;
}

.hexagon-item:hover {
	z-index: 1;
}

.hexagon-item:hover .hex-item:last-child {
	opacity: 1;
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	-o-transform: scale(1.3);
	transform: scale(1.3);
}

.hexagon-item:hover .hex-item:first-child {
	opacity: 1;
	-webkit-transform: scale(1.15);
	-moz-transform: scale(1.15);
	-ms-transform: scale(1.15);
	-o-transform: scale(1.15);
	transform: scale(1.15);
}

.hexagon-item:hover .hex-item:first-child div:before, .hexagon-item:hover .hex-item:first-child div:after {
	height: 5px;
}

.hexagon-item:hover .hex-item div::before, .hexagon-item:hover .hex-item div::after {
	background-color: #DC2337;
}

.hexagon-item:hover .hex-content svg {
	-webkit-transform: scale(0.97);
	-moz-transform: scale(0.97);
	-ms-transform: scale(0.97);
	-o-transform: scale(0.97);
	transform: scale(0.97);
}

.page-home .hexagon-item:nth-last-child(1), .page-home .hexagon-item:nth-last-child(2),
	.page-home .hexagon-item:nth-last-child(3) {
	-webkit-transform: rotate(30deg) translate(87px, -80px);
	-moz-transform: rotate(30deg) translate(87px, -80px);
	-ms-transform: rotate(30deg) translate(87px, -80px);
	-o-transform: rotate(30deg) translate(87px, -80px);
	transform: rotate(30deg) translate(87px, -80px);
}

.hex-item {
	position: absolute;
	top: 0;
	left: 50px;
	width: 100px;
	height: 173.20508px;
}

.hex-item:first-child {
	z-index: 0;
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-o-transform: scale(0.9);
	transform: scale(0.9);
	-webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
	-moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
	-o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hex-item:last-child {
	transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
	z-index: 1;
}

.hex-item div {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	width: 100px;
	height: 173.20508px;
	-webkit-transform-origin: center center;
	-moz-transform-origin: center center;
	-ms-transform-origin: center center;
	-o-transform-origin: center center;
	transform-origin: center center;
}

.hex-item div::before, .hex-item div::after {
	background-color: #1e2530;
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	-webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
	-moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
	-o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
	transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}

.hex-item div:before {
	top: 0;
}

.hex-item div:after {
	bottom: 0;
}

.hex-item div:nth-child(1) {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}

.hex-item div:nth-child(2) {
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	-o-transform: rotate(60deg);
	transform: rotate(60deg);
}

.hex-item div:nth-child(3) {
	-webkit-transform: rotate(120deg);
	-moz-transform: rotate(120deg);
	-ms-transform: rotate(120deg);
	-o-transform: rotate(120deg);
	transform: rotate(120deg);
}

.hex-content {
	color: #fff;
	display: block;
	height: 180px;
	margin: 0 auto;
	position: relative;
	text-align: center;
	transform: rotate(-30deg);
	width: 156px;
}

.hex-content .hex-content-inner {
	left: 50%;
	margin: -3px 0 0 2px;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.hex-content .icon {
	display: block;
	font-size: 36px;
	line-height: 30px;
	margin-bottom: 11px;
}

.hex-content .title {
	display: block;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 24px;
	text-transform: uppercase;
}

.hex-content svg {
	left: -7px;
	position: absolute;
	top: -13px;
	transform: scale(0.87);
	z-index: -1;
	-webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
	-moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
	-o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
	transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}

.hex-content:hover {
	color: #fff;
}


/*------------------------------------------------
    Welcome Page
-------------------------------------------------*/
@media ( min-width : 1200px) {
	.col-lg-offset-2 {
		margin-left: 16.66666667%;
	}
}

@media ( min-width : 1200px) {
	.col-lg-8 {
		width: 66.66666667%;
	}
}

.hexagon-item:first-child {
	margin-left: 0;
}

.pt-table.desktop-768 .pt-tablecell {
	padding-bottom: 110px;
	padding-top: 60px;
}

.hexagon-item:hover .icon i {
	color: #ff0037;
	transition: 0.6s;
}

.hexagon-item:hover .title {
	-webkit-animation: focus-in-contract 0.5s
		cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: focus-in-contract 0.5s
		cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/***************************/
@
-webkit-keyframes focus-in-contract { 0% {
	letter-spacing: 1em;
	-webkit-filter: blur(12px);
	filter: blur(12px);
	opacity: 0;
}

100%
{
-webkit-filter
:
 
blur
(0px);

            
filter
:
 
blur
(0px);

    
opacity
:
 
1;
}
}
@
keyframes focus-in-contract { 0% {
	letter-spacing: 1em;
	-webkit-filter: blur(12px);
	filter: blur(12px);
	opacity: 0;
}

100%
{
-webkit-filter
:
 
blur
(0px);

            
filter
:
 
blur
(0px);

    
opacity
:
 
1;
}
}
@media only screen and (max-width: 767px) {
	.hexagon-item {
		float: none;
		margin: 0 auto 50px;
		height: 154px;
	}
	.hexagon-item:first-child {
		margin-left: auto;
	}
	.page-home .hexagon-item:nth-last-child(1), .page-home .hexagon-item:nth-last-child(2),
		.page-home .hexagon-item:nth-last-child(3) {
		-webkit-transform: rotate(30deg) translate(0px, 0px);
		-moz-transform: rotate(30deg) translate(0px, 0px);
		-ms-transform: rotate(30deg) translate(0px, 0px);
		-o-transform: rotate(30deg) translate(0px, 0px);
		transform: rotate(30deg) translate(0px, 0px);
	}
}

/**************************************************************************************************************************************/
/* header*/
img.white-logo {
    float: left;
    padding-right: 4px;
    height: 45px;
}

ul {
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 0
}

*:focus {
    outline: none
}

.img-radius {
    border-radius: 50%;
    border: 2px solid #fff;
    -webkit-box-shadow: 0 5px 10px 0 rgba(43, 43, 43, 0.2);
    box-shadow: 0 5px 10px 0 rgba(43, 43, 43, 0.2)
}

a {
    text-decoration: none !important
}

.bg-c-red {
    background: #FF5370
}

.text-c-red {
    color: #FF5370
}

.sidebar_toggle a {
    margin: -5px;
    line-height: 1
}

.header-navbar {
    min-height: 70px;
    padding: 0
}

.header-navbar .navbar-wrapper .navbar-logo {
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: left;
    height: 70px;
    text-align: center;
    text-transform: uppercase;
    width: 250px;
    /*padding: 20px 10px;*/
    -webkit-box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.1)
}

.header-navbar .navbar-wrapper .navbar-logo .mobile-options,
.header-navbar .navbar-wrapper .navbar-logo .mobile-search {
    display: none
}

.header-navbar .navbar-wrapper .navbar-logo[logo-theme="theme6"] {
    background: #263544
}

.header-navbar .navbar-wrapper .navbar-container .nav-left li,
.header-navbar .navbar-wrapper .navbar-container .nav-right li {
    float: left;
    line-height: 4.4;
    padding: 0 20px;
    cursor: pointer;
    position: relative
}

@media only screen and (max-width: 575px) {

    .header-navbar .navbar-wrapper .navbar-container .nav-left li,
    .header-navbar .navbar-wrapper .navbar-container .nav-right li {
        padding: 0 15px
    }
}

.header-navbar .navbar-wrapper .navbar-container .nav-left li .sidebar_toggle a,
.header-navbar .navbar-wrapper .navbar-container .nav-right li .sidebar_toggle a {
    display: none
}

.header-navbar .navbar-wrapper .navbar-container .nav-left li>a,
.header-navbar .navbar-wrapper .navbar-container .nav-right li>a {
    font-size: 16px;
    display: block
}

.header-navbar .navbar-wrapper .navbar-container .nav-left li>a>i.flag-icon,
.header-navbar .navbar-wrapper .navbar-container .nav-right li>a>i.flag-icon {
    border-radius: 50%;
    width: 20px;
    height: 20px
}

.header-navbar .navbar-wrapper .navbar-container .nav-left a,
.header-navbar .navbar-wrapper .navbar-container .nav-right a {
    padding: 0 0.6rem
}

.header-navbar .navbar-wrapper .navbar-container .nav-left .dropdown-toggle::after,
.header-navbar .navbar-wrapper .navbar-container .nav-right .dropdown-toggle::after {
    display: none
}

.header-navbar .navbar-wrapper .navbar-container .nav-right {
    float: right
}

.header-navbar .navbar-wrapper .navbar-container .nav-right .user-profile img {
    margin-right: 10px;
    width: 40px
}

.header-navbar .navbar-wrapper .navbar-container .nav-right .user-profile i {
    font-size: 10px;
    margin-left: 10px
}

.header-navbar .navbar-wrapper .navbar-container .nav-right>.header-notification:nth-child(1) .show-notification li:first-child:hover,
.header-navbar .navbar-wrapper .navbar-container .nav-right>.header-notification:nth-child(1) .profile-notification li:first-child:hover {
    background-color: #fff
}

.header-navbar .navbar-wrapper .navbar-container .header-notification {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    z-index: 99;
    position: relative
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification,
.header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification {
    background: #fff;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    border: none;
    opacity: 1;
    position: absolute;
    left: auto;
    right: -15px;
    visibility: visible;
    overflow: visible;
    width: 24rem;
    padding: 15px 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px)
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification.show:before,
.header-navbar .navbar-wrapper .navbar-container .header-notification .show.profile-notification:before {
    content: "";
    border: 10px solid transparent;
    border-left-color: #fff;
    border-top-color: #fff;
    position: absolute;
    border-radius: 3px;
    top: -8px;
    right: 15px;
    -webkit-box-shadow: -5px -5px 12px -2px rgba(0, 0, 0, 0.3);
    box-shadow: -5px -5px 12px -2px rgba(0, 0, 0, 0.3);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1002
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification a,
.header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification a {
    color: #333
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification li,
.header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification li {
    line-height: initial;
    padding: 1em 20px;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification li:first-child,
.header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification li:first-child {
    padding: 10px 20px
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification li:first-child h6,
.header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification li:first-child h6 {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification li:first-child label,
.header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification li:first-child label {
    float: right
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification li img,
.header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification li img {
    width: 40px;
    margin-right: 10px
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification li:hover,
.header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification li:hover {
    background-color: #f1f1f1
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification.row li:hover,
.header-navbar .navbar-wrapper .navbar-container .header-notification .row.profile-notification li:hover {
    background-color: transparent
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification .notification-user,
.header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification .notification-user {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification .notification-msg,
.header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification .notification-msg {
    margin-bottom: 5px
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification .notification-time,
.header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification .notification-time {
    font-size: 12px;
    color: #919aa3
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification {
    width: 17em
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification a {
    font-size: 15px;
    padding-left: 0
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification a:hover {
    background-color: transparent
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification i {
    font-size: 15px;
    margin-left: 0;
    margin-right: 5px
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification li {
    border-top: none;
    padding: 0.7em 20px
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification li:first-child {
    padding: 0.7em 20px
}

.header-navbar .navbar-wrapper .navbar-container .badge {
    border-radius: 50%;
    right: -12px;
    position: absolute;
    top: 12px;
    color: #fff;
    padding: 4px;
    width: 19px;
    -webkit-animation: not-blink 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    animation: not-blink 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite
}

.header-navbar .navbar-wrapper .header-search {
    line-height: 0.8
}

.header-navbar .navbar-wrapper .header-search .main-search {
    padding: 19px 0;
    display: block
}

.header-navbar .navbar-wrapper .header-search .main-search .input-group {
    margin-bottom: 0;
    background-color: transparent;
    border-radius: 20px
}

.header-navbar .navbar-wrapper .header-search .main-search .input-group .form-control {
    padding: 0.3rem 0.75rem;
    width: 0;
    border: none;
    background-color: transparent
}

.header-navbar .navbar-wrapper .header-search .main-search .input-group .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none
}

.header-navbar .navbar-wrapper .header-search .main-search .input-group .input-group-append,
.header-navbar .navbar-wrapper .header-search .main-search .input-group .input-group-prepend {
    background-color: transparent;
    border: none
}

.header-navbar .navbar-wrapper .header-search .main-search .input-group .input-group-append .input-group-text,
.header-navbar .navbar-wrapper .header-search .main-search .input-group .input-group-prepend .input-group-text {
    background-color: transparent;
    border: none
}

.header-navbar .navbar-wrapper .header-search .main-search .input-group .input-group-append.search-close,
.header-navbar .navbar-wrapper .header-search .main-search .input-group .input-group-prepend.search-close {
    display: none
}

.header-navbar .navbar-wrapper .header-search .main-search.open {
    color: #000;
    line-height: 1
}

.header-navbar .navbar-wrapper .header-search .main-search.open .input-group {
    background-color: #fff
}

.header-navbar .navbar-wrapper .header-search .main-search.open .input-group .form-control {
    display: block
}

.header-navbar .navbar-wrapper .header-search .main-search.open .input-group .input-group-append .input-group-text,
.header-navbar .navbar-wrapper .header-search .main-search.open .input-group .input-group-prepend .input-group-text {
    color: #000
}

.header-navbar .navbar-wrapper .header-search .main-search.open .input-group .input-group-append.search-close,
.header-navbar .navbar-wrapper .header-search .main-search.open .input-group .input-group-prepend.search-close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.pcoded .pcoded-header {
    width: 100%;
    z-index: 1029;
    position: relative;
    display: block;
    -webkit-box-shadow: 0 2px 4px 0 rgba(43, 43, 43, 0.1);
    box-shadow: 0 2px 4px 0 rgba(43, 43, 43, 0.1)
}

.pcoded .pcoded-navbar {
    display: block;
    font-family: "Quicksand", sans-serif
}

.pcoded .pcoded-navbar .nav-list {
    overflow: hidden;
    height: calc(100vh - 70px);
    border-radius: 0 0 0 0;
    -webkit-box-shadow: 0 2px 15px 0 rgba(43, 43, 43, 0.2);
    box-shadow: 0 2px 15px 0 rgba(43, 43, 43, 0.2)
}

@media only screen and (max-width: 992px) {
    .pcoded .pcoded-navbar .nav-list {
        height: 100%
    }
}

.pcoded .pcoded-header[pcoded-header-position="fixed"] {
    position: fixed;
    top: 0;
    z-index: 1028
}

.pcoded .pcoded-header[header-theme="themelight1"] {
    background: #fff
}

.pcoded .pcoded-header[header-theme="themelight1"] .navbar-logo a {
    color: #fff
}

@media only screen and (max-width: 992px) {
    body.menu-bottom .navbar-wrapper .pcoded-navbar {
        top: -70px
    }
}

.form-control {
    font-size: 12px;
    border-radius: 2px;
    border: 1px solid #ccc
}

@media only screen and (max-width: 992px) {

    .navbar,
    .navbar .navbar-logo {
        width: 100%
    }

    #dt-live-dom .form-control,
    #footer-search tfoot .form-control,
    #footer-select tfoot .form-control,
    #form-input-table .form-control,
    .search-api .form-control {
        width: 80%
    }

    .header-navbar {
        z-index: 1209;
        top: 0
    }

    .header-navbar[pcoded-header-position="relative"] {
        top: 0
    }

    .header-navbar .navbar-wrapper .navbar-container {
        margin-left: 0
    }

    .header-navbar .navbar-wrapper .navbar-logo {
        width: 100%
    }

    .header-navbar .navbar-wrapper .navbar-logo a img {
        display: block
    }

    .header-navbar .navbar-wrapper .navbar-logo .mobile-menu {
        right: auto;
        left: 0;
        top: 0;
        width: 60px
    }

    .header-navbar .navbar-wrapper .navbar-logo .mobile-search {
        display: block;
        position: absolute;
        left: 70px;
        top: 0
    }

    .header-navbar .navbar-wrapper .navbar-logo .mobile-options {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 16px;
        line-height: 4.4;
        width: 60px
    }

    .header-navbar .navbar-container .nav-left,
    .header-navbar .navbar-wrapper .navbar-container .nav-right {
        display: none;
    }
}

@media only screen and (min-width: 993px) {
	.nav-right {
	    display: block !important;
	}
}

@media only screen and (max-width: 768px) {
    h4 {
        font-size: 1rem;
        font-weight: 500
    }

    .card h5 {
        font-size: 16px
    }
	/*
    .header-navbar .navbar-wrapper .navbar-logo {
        display: inherit
    }
	*/
    .header-navbar .navbar-wrapper .navbar-logo a {
        display: inline-block
    }

    body.horizontal-icon .page-header,
    body.horizontal-icon-fixed .page-header {
        margin-top: 0
    }

    body.horizontal-icon .pcoded .pcoded-navbar .pcoded-item>li>a>.pcoded-micon,
    body.horizontal-icon-fixed .pcoded .pcoded-navbar .pcoded-item>li>a>.pcoded-micon {
        display: inline-block;
        margin-right: 20px
    }
}

@media only screen and (max-width: 993px) {

    .navbar,
    .navbar .navbar-logo {
        width: 100%
    }
}

@media only screen and (max-width: 573px) {
    .md-tabs {
        display: initial
    }

    .md-tabs .nav-item {
        width: calc(100% / 1);
        position: relative
    }

    .nav-tabs.tabs {
        display: inherit
    }

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        border: none
    }
}

@media only screen and (max-width: 576px) {

    .pcoded .header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification,
    .pcoded .header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification {
        min-width: 280px;
        left: -30px;
        right: auto;
        width: auto
    }

    .pcoded .header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification:before,
    .pcoded .header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification:before {
        right: calc(100% - 40px)
    }

    .pcoded .header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification {
        left: auto;
        right: 0
    }

    .pcoded .header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification:before {
        right: 40px
    }
}