<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
      <typeAliases>
          <package name="com.unmsm.clinica.model"/>
      </typeAliases>
      <mappers>
          <mapper resource="mapper/IAlumnoMapper.xml"/>
          <mapper resource="mapper/IConsultaAtencionInicialMapper.xml"/>
          <mapper resource="mapper/IUsuarioMapper.xml"/>
      </mappers>
  </configuration>