<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorate="layout">
<head>
<title th:text="|Consulta Administrativa de #{__${consulta}__}|"></title>
</head>
<th:block layout:fragment="style">
	<link th:href="@{/css/dataTables.bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/css/responsive.bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/css/popupwindow.css}" rel="stylesheet" />
	<link th:href="@{/css/jquery-confirm.min.css}" rel="stylesheet" />
	<link th:href="@{/css/select2.min.css}" rel="stylesheet" />
	<link th:href="@{/css/select2-bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/css/daterangepicker.css}" rel="stylesheet" />
	
</th:block>
<body>
	<th:block layout:fragment="content">
		<div id="ConsultaAdmistrativaExamenMedico" class="container col-md-12">
			<ul class="nav nav-pills">
				<li class="active">
					<a data-toggle="tab" href="#general">
						<h3 class="panel-title" th:text="|Consulta #{__${consulta}__}|"></h3>
					</a>
				</li>
				<li>
					<a data-toggle="tab" href="#detalle">
						<h3 class="panel-title" th:text="|Consulta Detallada #{__${consulta}__}|"></h3>
					</a>
				</li>
			</ul>
			<div class="tab-content clearfix">
				<div id="general" class="tab-pane fade in active">
					<button id="administrador" sec:authorize="hasPermission('1','ALL')" class="hidden"></button>
						<div class="page-content-wrap">
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<div class="panel panel-default">
										<div class="panel-body">
											<th:block
												th:replace="~{template/fragments/consulta/criterioBusquedaAdministrativaExamenMedico :: criterioBusquedaAdministrativaExamenMedico(tipo=${consulta})}?:~{}">
											</th:block>
											<div id="resultadoConsultaAdministrativaExamenMedico" class="col-xs-12">
												<table id="tablaConsultaAdministrativaExamenMedico"
													class="table table-bordered table-condensed nowrap display table-hover">
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
				</div>

				<div id="detalle" class="tab-pane fade in">
					<button id="administrador" sec:authorize="hasPermission('1','ALL')" class="hidden"></button>
						<div class="page-content-wrap">
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<div class="panel panel-default">
										<div class="panel-body">
											<th:block
												th:replace="~{template/fragments/consulta/criterioBusquedaAdministrativaDetallada :: criterioBusquedaAdministrativaDetallada(tipo=${consulta})}?:~{}">
											</th:block>
										</div>
										<div id="resultadoConsultaAdministrativaExamenMedicoDetalle" class="col-xs-12">
											<table id="tablaConsultaAdministrativaExamenMedicoDetalle"
												class="table table-bordered table-condensed nowrap display table-hover">
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
				</div>
			</div>	
		</div>
		<th:block th:replace="~{template/fragments/resultado/modalRegistroResultado :: modalRegistroResultado(tipo=${consulta})}?:~{}">>
		</th:block>
	</th:block>

	<th:block layout:fragment="script">
		<script th:src="@{/js/datatables/jquery.dataTables.min.js}"></script>
		<script th:src="@{/js/datatables/dataTables.bootstrap.min.js}"></script>
		<script th:src="@{/js/datatables/dataTables.responsive.min.js}"></script>
		<script th:src="@{/js/datatables/dataTables.show.rows.js}"></script>
		<script th:src="@{/js/bootstrap/bootstrap-notify.min.js}"></script>
		<script th:src="@{/js/jquery/popupwindow.min.js}"></script>
		<script th:src="@{/js/jquery/jquery.serializejson.min.js}"></script>
		<script th:src="@{/js/jquery/jquery.validate.min.js}"></script>
		<script th:src="@{/js/jquery/additional-methods.min.js}"></script>
		<script th:src="@{/js/jquery/jquery-confirm.min.js}"></script>
		<script th:src="@{/js/jquery/jquery.animate.min.js}"></script>
		<script th:src="@{/js/jquery/select2.full.min.js}"></script>
		<script th:src="@{/js/jquery/moment.min.js}"></script>
		<script th:src="@{/js/jquery/daterangepicker.js}"></script>
		<script th:src="@{/js/util/formularioUtil.js}"></script>
		<script th:src="@{/js/pagina/consulta/administrativa/{consulta}/{consulta}.js(consulta = ${consulta})}"></script>
		<script th:src="@{/js/pagina/consulta/administrativa/{consulta}/{consulta}Formulario.js(consulta = ${consulta})}"></script>
	</th:block>
</body>
</html>